div {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    color: coral;
}

img {
    width: 30%;
    height: 30%;
    align-content: center;
}

.error-output {
    font-style: italic;
    color: red;
    font-size: 17px;
}